.container-intro {
    height: 100vh;
    padding-top: 10vh;
}

.text-box {
    padding-left: 5vw;
    padding-right: 5vw;
}

.to-project.MuiButton-root {
    background-color: white;
    border-color: black;
    text-decoration: none;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}

.to-project.MuiButton-root:hover {
    background-color: white;
}