.link-container {
  display: flex;
  justify-self: center;
}

.space {
    width: 15px;
    height: 1px;
}

.btn-link {
    font-size: medium;
    display:block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.btn-link a {
  color: black;
}